@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*  *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 7%;
    font-family: 'robot', sans-serif;
    font-weight: 300;
    
}

.basic-exemple {
    display: flex;
    background: #ccc;
    padding: 3em;
}
p:target {background: brown;}

img{
    box-shadow: 1px 5px 10px rgb(0, 0, 0);
    }
h1{
    text-shadow: 2px 3px 4px ;
    box-shadow: inset 2px 3px 4px ;
    width: 400px;
    text-align: center;
}
